div {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

body {
    background-color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 32px;
}

caption {
    caption-side: top;
}

code {
    background-color: #777777;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 2px;
}

footer {
    display: block;
}

h1 {
    background: #330099;
    border: 1px solid #777777;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
    text-align: left;
}

h3 {
    background-color: #330099;
    border: 1px solid #777777;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
    text-align: left;
}

li span {
    color: white;
    background-color: #330099;
}

ol {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

p {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 5px
}

table, th, td {
    border: 1px solid black;
}

table {
    background-color: #222222;
    border-collapse: collapse;
}

th {
    background-color: #330099;
    color: white;
}
td {
    color: black;
}
th, td {
    padding: 5px;
    text-align: center;
    font-size: 40%;
}
caption{
    font-size: 50%;
    color: white;
}
ul {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.TextWrapLeft {
    float: left;
    margin: 0px;
}

.TextWrapRight {
    float: right;
    margin: 0px;
}
