div {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}
body {
    background-color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 32px;
}
code {
    background-color: #777777;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 2px;
}
footer {
    display: block;
}
h1 {
    background: #330099;
    border: 1px solid #777777;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
    text-align: left;
}
h3 {
    background-color: #330099;
    border: 1px solid #777777;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
    text-align: left;
}
li span{
    color: white;
    background-color: #330099;
}
ol {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
p {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 5px
}
ul {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.TextWrap {
    float: right;
    margin: 10px;
}
.TextWrapLeft {
    float: left;
    margin: 10px;
}
